name: CI
on:
  push:
    branches: ["main"]
  pull_request:
  workflow_dispatch:
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: "1.22.x"
          cache: true
      - name: Test
        env:
          CGO_ENABLED: "0"
        run: go test ./... -count=1 -tags "netgo osusergo"
      - name: Build
        env:
          CGO_ENABLED: "0"
        run: |
          mkdir -p dist
          go build -trimpath -ldflags "-s -w" -tags "netgo osusergo" -o dist/restless ./cmd/restless
